<!-- Navigation -->
<nav class="navbar navbar-default bg-yellow" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
  </div>
  <a class="navbar-brand" href="#">
    <%= image_tag("logo.png", class: "logo") %>
  </a>
  <div class="navbar-collapse collapse menu-container">
    <ul class="nav navbar-nav navbar-center sections-menu">
      <li><a href="#home">Home</a></li>
      <li><a href="#who-are-we">Who are we?</a></li>
      <li>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSf1OGxiKoo7EAZ8YtRZUqPHn-9CYCi7oDkHD5IWvIUfWy3-cg/viewform?usp=pp_url&entry.2005620554&entry.1390492281&entry.1045781291&entry.1065046570&entry.1166974658&entry.839337160">Vull ser amfitrió</a>
      </li>
      <li>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSclEmxv6LGWsLdr1h53cdlSL8MVr0SnthwXh7309mW1DEjJ7g/viewform?entry.549750948&entry.2005620554&entry.1390492281&entry.1045781291&entry.1065046570&entry.1995063506&entry.1166974658&entry.1980385700">I am visiting Catalonia</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="contact-container twitter-contact-container">
          <a href="http://twitter.com/eatwithcatalans">
            <%= image_tag("twitter_icon.png", class: "contact-image") %>
          </a>
          <span class="contact-text"> @eatwithcatalans </span>
        </div>
      </li>
      <li>
        <div class="contact-container">
          <a href="mailto: 'info@eatwithcatalans.org'">
            <%= image_tag("email_icon.png", class: "contact-image") %>
          </a>
          <span class="contact-text"> info@eatwithcatalans.org </span>
        </div>
      </li>
    </ul>
  </div>
</nav>


<!-- Header -->
<a name="home"></a>
<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="jumbotron">
          <%= image_tag("eat_with_catalans.png") %>
          <div class="intro-text">
            <p> Enjoy the Catalan hospitality while learning about why we seek to be recognized as a new European state. </p>
            <p> Below you will find a map of all the locations where Catalans are willing to cook you some food! <a href="https://docs.google.com/forms/d/e/1FAIpQLSclEmxv6LGWsLdr1h53cdlSL8MVr0SnthwXh7309mW1DEjJ7g/viewform?entry.549750948&entry.2005620554&entry.1390492281&entry.1045781291&entry.1065046570&entry.1995063506&entry.1166974658&entry.1980385700">Contact us </a>to learn how you can visit one of our hosts.</p>
          </div>
          <%= image_tag("steps.png") %>
          <div class="map-container">
            <iframe src="https://www.google.com/maps/d/embed?mid=1LpbClq2t7_jJPP7UpRBeXSDTaw1gaVbZ" width="1000" height="600"></iframe>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.intro-header -->

<!-- Page Content -->

<a  name="who-are-we"></a>
<div class="content-section-a">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <hr class="section-heading-spacer">
        <div class="clearfix"></div>
        <h2 class="section-heading">Who are we?</h2>
        <p class="lead">Eat with Catalans is a nonprofit initiative purely driven by our hospitality and our will to explain our culture and our Republic to the world.
        </br>
        The promoters and supporters of Eat with Catalans have three things in common:
          <ol class="lead">
            <li> We enjoy eating local food </li>
            <li> We like to socialize </li>
            <li> We like to explain the Catalan culture, traditions and why we build a modern and inclusive Republic to people from abroad </li>
          </ol>
          <p class="lead">
            We focus on providing a local food experience while sharing views and thoughts on the creation of a new State in Europe, the Catalan Republic.
          </p>
        </p>
      </div>
    </div>

  </div>
  <!-- /.container -->

</div>
<!-- /.content-section-a -->


